a{
  color: #8F4E56; 
  text-decoration: none; 
  border-bottom: 2px solid rgb(56, 41, 43);
}
a:visited{color:#6F5357;}
a:hover{color: #AF5763;}

i{
  font-style: normal;
  color:#8F77EF;
  font-family: monospace;}
b{
  color: hsl(21, 37%, 34%);
}
html,body{height:100%;}
body{
  background:#111; 
  font: 24px/1.4 georgia, serif;
  color: #999;}
body.loading *{cursor: wait;}
#page{
  max-width: 850px; min-height:100%;
  margin:0 auto; padding: 24px;box-sizing:border-box;
  background: #191919;}

#links a{display: inline-block;margin: 0 10px;}
.reset{
  color: #333;
}
footer{
  position: absolute;
  bottom: 0;
}
/*clearfix*/
section:after,
dialog:after,
header:after,
footer:after,
content:after{
  content: '.';
  display:block;
  clear:both;
  height: 0;
  visibility:hidden;
}
  
