a{color: #999;}
a:visited{color:#666;}
a:hover{color: #fff;}
html,body{height:100%;}
body{
	background:#111; font: 16px georgia, serif;
	color: #999;}
body.loading *{cursor: wait;}
#page{
  width: 550px; height:100%;
  margin:0 auto; padding: 24px;box-sizing:border-box;
  background: #191919;}
  
dialog{
	display:none;
  position: absolute;top:80px; left: 50%;
  width: 400px;
  margin-left: -200px;
  background:#FFF;
  -moz-box-shadow: rgba(0,0,0,.4) 4px 8px 10px;}
  dialog header{
    margin: 12px;
    border-bottom: 1px solid #ddd;}
    dialog h2{margin:0;
      font-size: 20px;}
  .close{
    display:block;
    float:right;
    padding: 0 5px;
    border: 1px solid #ddd;
    text-decoration:none;
		cursor: pointer;}
  .dialogBody{margin: 12px;}
  